import("methods")

importMethodsFrom("AnnotationDbi", "as.list", "mget", "Term")

importMethodsFrom("BiocGenerics", "plot", "summary")
importMethodsFrom("Biobase", "annotation")
importFrom("Biobase", "listLen")

importClassesFrom("Category", "DatPkg", "HyperGParams",
                  "HyperGResultBase")
importMethodsFrom("Category", "categoryName",
                  "categoryToEntrezBuilder", "expectedCounts",
                  "geneCounts", "hyperGTest", "oddsRatios",
                  "pvalueCutoff", "pvalues", "testDirection",
                  "universeBuilder", "universeCounts")
importFrom("Category", ".doHyperGTest")

importFrom("GO.db", "GOTERM")

importMethodsFrom("graph", "intersection", "nodes", "numEdges",
                  "ugraph")

importFrom("graphics", "hist", "lines", "plot")

importMethodsFrom("GSEABase", "geneIds")

importFrom("KEGG.db", "KEGGPATHID2NAME")

importFrom("ScISI", "getMipsInfo")

importFrom("stats", "binomial", "density", "glm")

export("graphTheory",
       "overlap",
       "complexStatus",
       "buildFDMat",
       "getFDgene",
       "reduceM",
       "densityEstimate",
       "truncName",
       "getDescr",
       "KEGG2SCISI",
       "ppiInteract")

exportClasses("CoHyperGParams",
              "CoHyperGResult",
              "testResult",
              "deResult",
              "gtResult")

exportMethods("hyperGTest",
              "summary",
              "geneCounts",
              "universeCounts",
              "pvalues",
              "oddsRatios",
              "expectedCounts",
              "universeBuilder",
              "categoryToEntrezBuilder",
              "plot")
