import("methods")
import("Category")

importMethodsFrom("AnnotationDbi", "Term")
importMethodsFrom("Biobase", "annotation")
importMethodsFrom("GSEABase", "geneIds")
importMethodsFrom("graph", "intersection", "nodes",
                  "numEdges", "ugraph")

importFrom("AnnotationDbi","as.list", "mget")
importFrom("Biobase", "listLen")
importFrom("GO.db", "GOTERM")
importFrom("KEGG.db", "KEGGPATHID2NAME")
importFrom("ScISI", "getMipsInfo")
importFrom("graphics", "hist", "lines", "plot")
importFrom("stats", "binomial", "density", "glm")

export("graphTheory",
       "overlap",
       "complexStatus",
       "buildFDMat",
       "getFDgene",
       "reduceM",
       "densityEstimate",
       "truncName",
       "getDescr",
       "KEGG2SCISI",
       "ppiInteract")

exportClasses("CoHyperGParams",
              "CoHyperGResult",
              "testResult",
              "deResult",
              "gtResult")

exportMethods("hyperGTest",
              "summary",
              "geneCounts",
              "universeCounts",
              "pvalues",
              "oddsRatios",
              "expectedCounts",
              "universeBuilder",
              "categoryToEntrezBuilder",
              "plot")
